<section class="page-header">
  <h2 style="margin: 0; padding-left: 1rem; cursor: pointer;" (click)="goToHomepage()">New task</h2>
  <div class="user">
    <mat-icon fontIcon="person"></mat-icon><span class="span">Marek Pandadis</span>
  </div>
</section>

<section class="page-body">
  <!--<mat-sidenav-container style="height: 100%">
    <mat-sidenav #sidemenu opened mode="side">
      <div *ngFor="let button of this.menuButtons">
        <div class="menu-buttons">
          <button mat-button [routerLink]="'/list'">
            <mat-icon *ngIf="button.icon" fontIcon="{{button.icon}}"></mat-icon>
            {{button.label}}
          </button>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      TEST2-content
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>-->
  <router-outlet></router-outlet>
</section>

