<section class="detail">
    <section class="detail-header">
        Nadpis blogu
    </section>
    <section class="detail-body">
        <mat-card class="card mat-elevation-z8">
            <mat-chip-listbox class="tags">
                <mat-chip-option>Kuchyně</mat-chip-option>
                <mat-chip-option>Móda</mat-chip-option>
                <mat-chip-option selected>Technologie</mat-chip-option>
                <mat-chip-option>Zahradnictví</mat-chip-option>
            </mat-chip-listbox>
            <!--<img src="assets/images/emoji.jpg">-->
            <div class="text">dlouhý text</div>
        </mat-card>
    </section>
</section>